
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');


html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 20px;
    font-style:oblique
}

h2{
    text-decoration:underline;
    font-weight:bold;
    font-weight:bold;
    text-align:center;
}

h3{
    text-align:center;
    padding-inline: 5px;
   
}

h4{
    font-size:1.1em;
    text-align:center;
    padding-top:2%;
}

p{
    text-align:center;
    font-size:1.15em;
}

body {
    background-color: #252525;
    font-family: 'JetBrains Mono', monospace;
    color: #6cda82;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items:center;
}


.title{
    display:flex;
    justify-content:center;
    margin:10px;
}

.status-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ui-and-status {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
}

.status {
    display: flex;
    justify-content: center;
    flex-direction:column;
    
    padding:3%;
    border-radius: 3px;
    
}

.button {
    border: solid 2px #6cda82;
    padding-inline: 1%;
    padding-block: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #6cda82;
    color: #252525;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.button:hover{
    text-decoration:none;
}


.footer{
    font-size:0.75em;
    text-align:center;
    margin-block:20px;
}

a{
    color:currentColor;
    font-weight:bold;
}

.ui-holder {
    display: flex;
    justify-content: center;
    outline: 3px double #6cda82;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    
    padding-block:10px;
}

.actions-holder {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: flex-start;
    width:95%;
    
}

.activity-button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:4%;
}


.button-holder{
    display: flex; 
}

.travel-button-holder {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:row;
}

.deal-info-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width:100%;
}

.actions {
    display: flex;
    outline: 3px double #6cda82;
    padding: 5px;
    margin: 2px;
    width: 100%;
    padding-block: 10px;
    flex-direction: column;
}


.stats-holder {
    display: flex;
}

.stats-headers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.stats-data{

}

.stats-spacer{
    padding:5px;
}



.drug-deal {
    outline: 3px double #6cda82;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.drug-listing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    

}

.drug-name{
    width:50%;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.loan-holder{
    padding-block: 5%;
}

.add-space-top{
    margin-top:20px;
}

.stash-info-holder{
    display:flex;
    flex-direction:column;
}

.stash-card {
    outline: 3px double #6cda82;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex {
    display: flex;
}

.column{
    flex-direction:column;
}

.align-items-flex-start{
    align-items:flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-space-around{
    justify-content:space-around;
}

.justify-content-space-between{
    justify-content:space-between;
}

.min-width{

}

.height-50{
    height:50px;
}

.width-100{
    width:100%;
}

.padding-bottom-4 {
    padding-bottom: 4%;
}

.hide {
    display: none
}



@media screen and (min-width: 600px) {
    .status {

        max-width: 66%;
    }
}
